<section class="main about">
	<div class="portrait">
	   <img src="images/nada.jpg">
	</div>
	<div class="bio">
	   <h2>Nadya Eidelstein (Fedotova)</h2>
	   <p class="email">nadezhda.fed.28@gmail.com</p>
	   <p>I am a multi-disciplinary artist, designer and programmer. Initially, I started my studies as a jewellery designer but the interest in technology and different kinds of media brought me to extend my area of exploration and research into the field of new media. Currently I am working and experimenting with a variety of media and techniques, combining together digital and hand skills to create the hybrids and creatures that reflect my understanding of the current digital age. I am swimming in the huge ocean of new media in search of new ways of seeing and creating and I am widely open for new ideas and collaborations.</p>
	</div>
	<div class="line"><img src="images/divline.gif"></div>
	<div class="cv">
		<div class="left-column">
			<h3>Education</h3>
			<ul class="mark">
				<li><strong>Central Saint Martins</strong>, BA in Jewellery Design, First Class Honours, London, UK, 2011&ndash;2014</li>
				<li><strong>University of the Arts London</strong>, London College of Fashion, Access to HE Eduction, London, UK, 2010&ndash;2011</li>
			</ul>
			<h3>Continuing Education</h3>
			<ul>
				<li><strong>Web Development Immersive</strong>, BrainStation, 10 weeks full&ndash;time, Toronto, 2015</li>
				<li><strong>Generative Design with Grasshopper</strong>, Akiyo Matsuoka Inc. with Andres Gonzalez, NY, 2015</li>
				<li><strong>Advanced Rhino Certificate</strong>, Schindler Technologies Corporation, Toronto, 2015</li>
				<li><strong>UX Design</strong>, Bitmaker Labs, 12 weeks part&ndash;time, Toronto, 2015</li>
			</ul>
			<h3>Work Experience</h3>
			<ul>
				<li><strong>Holly Dyment Jewellery</strong>, part&ndash;time, 2014&ndash;ongoing, Toronto</li>
				<li><strong>Musical venue Cafe OTO</strong>, sound engineering volunter, 2014, London, UK</li>
				<li><strong>Maud Traon</strong>, internship, 2013, London, UK</li>
				<li><strong>Silvia Weidenbach</strong>, internship, 2013, London, UK</li>
				<li><strong>Flow Gallery</strong>, internship, 2013, London, UK</li>
				<li><strong>Amadoria Ltd</strong>, part-time, 2013, London, UK</li>
			</ul>
		</div>
		<div class="right-column">
			<h3>Exhibitions</h3>
			<ul>
				<li><strong>Long Winter Festival</strong>, Toronto, Canada</li>
				<li><strong>Craft Ontario Gallery</strong>, Pop-up shop, Toronto, Canada</li>
				<li><strong>Maker Festival</strong>, Toronto Reference Library, Toronto, Canada</li>
				<li><strong>Artscape Gibraltar Point</strong>, Toronto, Canada</li>
				<li><strong>Luminous Bodies art residency</strong>, Toronto, Canada</li>
				<li><strong>Propeller Gallery</strong>, The Body: A Celebration, Toronto, Canada</li>
				<li><strong>Craft Ontario Gallery</strong>, Materialize exhibition, Toronto, Canada</li>
				<li><strong>Lethaby Gallery</strong>, Restless Futures exhibition as a part of London Design Week, London, UK</li>
				<li><strong>Central Saint Martins</strong>, Kings Cross, London, UK</li>
			</ul>
			<h3>Awards</h3>
			<ul>
				<li><strong>Best Use of Crystals</strong>, Swarovski&ndash;Central Saint Martins live project, 2014</li>
				<li><strong>Medical Research Center</strong>, commended in the project Suffrage Heirloom Jewellery, 2013</li>
				<li><strong>First Prize and Over All Winner</strong>, Swarovski&ndash;Central Saint Martins collaboration, 2012</li>
				<li><strong>British Art Medal Society</strong>, Runner Up, medal competition held by British Museum, 2012</li>
				<li><strong>Central Saint Martins</strong>, the art medal was chosen to be exhibited in the museum, 2012</li>
			</ul>
			<h3>Press</h3>
			<ul>
				<li><a href="https://artjewelryforum.org/graduate-portfolios/central-saint-martins-university-of-the-arts-london/nadya-fedotova"><strong>Art Jewellery Forum post</strong></a>, 2014</li>
				<li><a href="http://blogs.arts.ac.uk/csm/2014/07/03/ba-jewellery-design-students-rise-to-swarovskis-challenge/"><strong>Swarovski Challenge</strong></a>, blog.arts.ac.uk, 2014</li>
				<li><a href="http://www.londondesignfestival.com/events/restless-futures-london-design-festival"><strong>Restless Futures Catalogue</strong></a>, 2014</li>
				<li><a href="http://issuu.com/cscweb/docs/suffragescience2013"><strong>Suffrage Science 2013</strong></a>, Medical Research Center, 2013</li>
				<li><strong>Salt Magazine</strong>, autumn/winter issue, 2012</li>
				<li><a href="http://blogs.arts.ac.uk/csm/2012/05/16/congratulations-to-swarovski-competition-winner-nadezhda-fedotova/"><strong>Swarovski Competition</strong></a>, blog.arts.ac.uk, 2012</li>
				<li><strong>British Art Medal Society publication</strong>, 2012</li>
			</ul>

		</div>
	</div>
	<footer>
     <p class="coryright">&copy;Nadya Eidelestein - all contents copyright Nadya Eidelstein</p>
   </footer>
</section>
